.customer{
  overflow: auto;
  height: 32vh;
}

/*Media Query Start*/
@media (max-width: 1000px) {
  .customer{
    overflow: auto;
    height: 25vh;
  }
}

@media (max-width: 500px) {
  .customer{
    overflow: auto;
    height: 20vh;
  }
}
/*Media Query End*/
